html {
	font-size: 18px;
	background-color: #f4eeff;
	color: #0e0919;
  height: 100%;
	width: 100%;
}

body {
	background-color: white;
  margin: 100px auto 100px auto;
	padding: 25px;
	font-family: sans-serif;
	max-width: 800px;
  box-shadow: #e9ddfe 5px 5px 10px 10px;
  border-radius: 5px;
}

code {
	font-family: monospace;
	font-size: 1em;
  border-radius: 5px;
	padding: 0px 2px 0px 2px;
}

a {
	color: #8d57ff;
  border-radius: 5px;
}

header {
	margin-bottom: 1.5em;
}

h1 {
	margin-bottom: 0;
}

pre {
	padding: 15px;
  border-radius: 5px;
	overflow-x: scroll;
}

pre, code, a:hover {
	background-color: #f4eeff;
}

.subtitle {
	font-style: italic;
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #0e0919;
		color: #f4eeff;
	}

	body {
		background-color: #1d1132;
		box-shadow: #110a1e 5px 5px 10px 10px;
	}

	a {
		color: #a578fd;
	}

	pre, code, a:hover {
		background-color: #0e0919;
	}

	.subtitle {
		color: #af89ff;
	}
}
